[project]
	description = Common utilities is a collection of utility classes which are used by all other open-o projects.\n\
\n\
MIRROR NOTE: This repo cannot be mirrored to GitHub due to it containing files that are larger than the maximum allowed size.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/openo-gerrit-common-services-committers
	owner = group ldap/openo-gerrit-commonservice-committers
